
@{
    ViewBag.Title = "help_rpn";
}

<h2>help_rpn</h2>
<p>
    Liste aller Filterausdrücke, die an den Querystring für Listen von Sternen,
    Planeten, Monde und Asteroiden angehangen werden können.
</p>
<table class="table table-striped">
    <tr>
        <th>
            Funktion
        </th>
        <th>
            Erläuterung/ Beispiel
        </th>
    </tr>
    <tr>
        <td>
            <code><i>#Erdmassen</i> EM</code>
        </td>
        <td>
            Masse eines Himmelskörpes in Vielfachen der Erdmasse. z.B. <code>314 EM</code> (Masse des Jupiters)
        </td>
    </tr>
    <tr>
        <td>
            <code><i>#Sonnenmassen</i> SM</code>
        </td>
        <td>
            Masse eines Himmelskörpes in Vielfachen der Sonnenmasse. z.B. <code>1 SM</code> (Masse der Sonne)
        </td>
    </tr>
    <tr>

    </tr>



</table>

