
@{
    ViewBag.Title = "help_rpn";
}

<h2>help_rpn</h2>
<p>
    Liste aller Filterausdrücke, die an den Querystring für Listen von Sternen,
    Planeten, Monde und Asteroiden angehangen werden können.
</p>
<table class="table table-striped">
    <tr>
        <th>
            Funktion
        </th>
        <th>
            Erläuterung/ Beispiel
        </th>
    </tr>
    <tr>
        <td>
            <code><i>#Erdmassen</i> EM</code>
        </td>
        <td>
            Masse eines Himmelskörpes in Vielfachen der Erdmasse. z.B. <code>314 EM</code> (Masse des Jupiters)
        </td>
    </tr>
    <tr>
        <td>
            <code><i>#Sonnenmassen</i> SM</code>
        </td>
        <td>
            Masse eines Himmelskörpes in Vielfachen der Sonnenmasse. z.B. <code>1 SM</code> (Masse der Sonne)
        </td>
    </tr>
    <tr>
        <td>
            <code><i>von</i> <i>bis</i> MassRng</code>
        </td>
        <td>
            Schränkt auf alle Himmelskörper ein, deren Masse zwischen <i>[von, bis]</i> liegt.
            Bsp.: <code>2 EM 100 EM MassRng</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>länge</i> KM</code>
        </td>
        <td>
            Länge in Kilometer. Bsp.: <code>12 KM</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>länge</i> AU</code>
        </td>
        <td>
            Länge in astronomischen Einheiten. Bsp.: <code>1 AU</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>von</i> <i>bis</i> DiameterRng</code>            
        </td>
        <td>
            Schränkt auf Himmelskörper ein, deren Durchmesser zwischen von
            und bis liegt. Bsp.: <code>15000 KM 70000 KM DiameterRng</code>
        </td>
    </tr>



</table>

