
@{
    ViewBag.Title = "help_rpn";
}

<h2><span class="glyph mk-glyph-cuby-happy"></span> help_rpn</h2>
<p>
    Liste aller Filterausdrücke, die an den Querystring für Listen von Sternen,
    Planeten, Monde und Asteroiden angehangen werden können.
</p>
<table class="table table-striped">
    <tr>
        <th>
            Funktion
        </th>
        <th>
            Erläuterung/ Beispiel
        </th>
    </tr>
    <tr>
        <td>
            <code><i>#Zeilen</i> Skip</code>
        </td>
        <td>
            Die #Zeilen werden am Anfang der Menge von Himmelskörpern übersprungen
        </td>
    </tr>
    <tr>
        <td>
            <code><i>#Zeilen</i> Take</code>
        </td>
        <td>
            Die #Zeilen der zuvor definierten Menge werden übernommen. Der Rest wird verworfen.
        </td>
    </tr>

    <tr>
        <td>
            <code><i>#Erdmassen</i> EM</code>
        </td>
        <td>
            Masse eines Himmelskörpes in Vielfachen der Erdmasse. z.B. <code>314 EM</code> (Masse des Jupiters)
        </td>
    </tr>
    <tr>
        <td>
            <code><i>#Sonnenmassen</i> SM</code>
        </td>
        <td>
            Masse eines Himmelskörpes in Vielfachen der Sonnenmasse. z.B. <code>1 SM</code> (Masse der Sonne)
        </td>
    </tr>
    <tr>
        <td>
            <code><i>von</i> <i>bis</i> MassRng</code>
        </td>
        <td>
            Schränkt auf alle Himmelskörper ein, deren Masse zwischen <i>[von, bis]</i> liegt.
            Bsp.: <code>2 EM 100 EM MassRng</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>länge</i> KM</code>
        </td>
        <td>
            Länge in Kilometer. Bsp.: <code>12 KM</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>länge</i> AU</code>
        </td>
        <td>
            Länge in astronomischen Einheiten. Bsp.: <code>1 AU</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>von</i> <i>bis</i> AlbedoRng</code>
        </td>
        <td>
            Schränkt auf Himmelskörper ein, deren Helligkeit zwischen von
            und bis liegt. Bsp.: <code>0.05 0.1 AlbedoRng</code>
        </td>
    </tr>

    <tr>
        <td>
            <code><i>von</i> <i>bis</i> DiameterRng</code>            
        </td>
        <td>
            Schränkt auf Himmelskörper ein, deren Durchmesser zwischen von
            und bis liegt. Bsp.: <code>15000 KM 70000 KM DiameterRng</code>
        </td>
    </tr>
    <tr>
        <td>
            <code><i>von</i> <i>bis</i> SemiMajorAxisLengthRng</code>
        </td>
        <td>
            Schränkt auf Himmelskörper ein, deren Abstand von der Sonne zwischen 
            von- bis liegt. Bsp.: <code>3 AU 20 AU SemiMajorAxisLengthRng</code>
        </td>
    </tr>

    <tr>
        <td>
            <code><i>True/False</i> OrderByAlbedo</code>
        </td>
        <td>
            Sortiert die Menge der Himmelskörper (momentan nur Asteroiden) bezüglich ihrer Helligkeit.
            Wenn der Parameter den Wert <code>True</code> hat, dann
            wird absteigend, sonst aufsteigend sortiert.
        </td>
    </tr>

    <tr>
        <td>
            <code><i>True/False</i> OrderByMass</code>
        </td>
        <td>
            Sortiert die Menge der Himmelskörper bezüglich ihrer Masse. 
            Wenn der Parameter den Wert <code>True</code> hat, dann 
            wird absteigend, sonst aufsteigend sortiert.
        </td>
    </tr>

    <tr>
        <td>
            <code><i>True/False</i> OrderByDiameter</code>
        </td>
        <td>
            Sortiert die Menge der Himmelskörper bezüglich ihrer äquatorialen Durchmessers.
            Wenn der Parameter den Wert <code>True</code> hat, dann
            wird absteigend, sonst aufsteigend sortiert.
        </td>
    </tr>


    <tr>
        <td>
            <code><i>True/False</i> OrderBySemiMajorAxisLength</code>
        </td>
        <td>
            Sortiert die Menge der Himmelskörper bezüglich ihrer Abstandes von der Sonne.
            Wenn der Parameter den Wert <code>True</code> hat, dann
            wird absteigend, sonst aufsteigend sortiert.
        </td>
    </tr>


</table>

