@{
    ViewBag.Title = "Home Page";

    var Welcome = "KeplerBI.MVC ver " + typeof(KeplerBI.MVC.Controllers.HomeController).Assembly.GetName().Version.ToString();

}

<div class="jumbotron">
    <h1><img src="~/Content/pics/space/Raumschiff.png" style="display:inline"/> @Welcome</h1>
    <p class="lead">Mit ASP.NET MVC das Universum abbilden !</p>
    <p><a href="http://mk-prg-net.de" class="btn btn-primary btn-lg" target="_blank">mk-prg-net.de &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <ol>
            <li>@Html.ActionLink("RPN- Reference", "help_rpn")</li>
            <li>@Html.ActionLink("Planets", "Index", new{controller="Planets"}) </li>
            <li>@Html.ActionLink("Asteroids", "Index", new { controller="Asteroids", rpn="100 Take"})</li>
        </ol>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>