@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kepler.MVC</h1>
    <p class="lead">Best Practise in MVC</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filtern, sortieren und seitenweise Ausgabe</h2>
        <ol>
            <li>
                @Html.ActionLink("Seitenweise Ausgabe", "Index", new { controller = "TheUniverse" })
            </li>
            <li>
                @Html.ActionLink("Filtern", "Index", new { controller = "TheUniverseFilter" })
            </li>
            <li>
                @Html.ActionLink("Filtern Restful", "Index", new { controller = "TheUniverseFilterRestful" })
            </li>

        </ol>
    </div>
    <div class="col-md-4">
        <h2>Darstellen von Informationen</h2>

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>