@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Fehler</h1>

<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    Details:
    <dl class="dl-horizontal">
        <dt>Controller</dt>
        <dd>@Model.ControllerName</dd>
        <dt>Action</dt>
        <dd>@Model.ActionName</dd>
        <dt>Controller</dt>
        <dd>@Model.Exception.Message</dd>
    </dl>
</p>
